body {
  background-image: url("../src/image/pink-g0b6e6356d_1920.jpg");
  background-repeat: no-repeat;
}
.App{
  height: 100px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
